<div class="content-wrapper">
  <div class="content">
      <div id="forgot-password" class="p-8">

<div class="form-wrapper md-elevation-8 p-8">

  <div class="logo bg-secondary">
      <span>F</span>
  </div>

  <div class="title mt-4 mb-8">Récupérer votre mot de passe</div>

  <form name="forgotPasswordForm" novalidate>

      <div class="form-group mb-4">
          <input type="email" class="form-control" id="forgotPasswordFormInputEmail" aria-describedby="emailHelp"
                 placeholder=" " required/>
          <label for="forgotPasswordFormInputEmail">Adresse Email</label>
      </div>

      <button type="submit" class="submit-button btn btn-block btn-secondary mt-8 mb-4 mx-auto"
              aria-label="SEND RESET LINK">
          Envoyer
      </button>

  </form>

  <div class="login row align-items-center justify-content-center mt-8 mb-6 mx-auto">
      <a class="btn btn-white" (click)="login()" >Retourner vers l'authentification</a>
  </div>

</div>
</div>
  </div>

</div>
