<!--<div>
  <div id="contacts" class="page-layout simple left-sidebar-floating">
      <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
          
                  <div class="col">
          
                      <div class="row no-gutters align-items-center flex-nowrap">
          
                          <button type="button" class="sidebar-toggle-button btn btn-icon d-inline-block d-lg-none mr-2"
                                  data-fuse-bar-toggle="contacts-sidebar">
                              <i class="icon icon-menu"></i>
                          </button>
          
                          #APP TITLE 
                          <div class="logo row no-gutters align-items-center flex-nowrap">
                              <span class="logo-icon mr-4">
                                  <i class="icon-account-box s-6"></i>
                              </span>
                              <span class="logo-text h4">Contacts</span>
                          </div>
                      </div>
                      #APP TITLE
                  </div>
          
                  # SEARCH 
                  <div class="col search-wrapper">
          
                      <div class="input-group">
          
                          <span class="input-group-btn">
          
                              <button type="button" class="btn btn-icon">
                                  <i class="icon icon-magnify"></i>
                              </button>
          
                          </span>
          
                          <input id="contacts-search-input" type="text" class="form-control" placeholder="Search for anyone"
                                 aria-label="Search for anyone"/>
          
                      </div>
                  </div>
                 #  / SEARCH 
              </div>
              # / HEADER 

</div>
</div> -->