<div class="content-wrapper">



  <div class="content">
      <div class="doc data-table-doc page-layout simple full-width">

<!-- HEADER -->
<div class="page-header bg-secondary text-auto p-6"><h3 class="doc-title" id="content">
<span class="icon s-8 icon-view-list"></span>
Liste des donnateurs </h3></div>
<!-- / HEADER -->

<!-- CONTENT -->
<div class="page-content row p-6 container">

  <div class="col-12">

      <div class="example">
          <div class="description">
              <div class="description-text">
                  <h3>Liste des donateurs qui ont demandés de suivre leurs dons </h3>
              </div>
          </div>
          <div class="source-preview-wrapper"><div class="preview">
            <div class="preview-elements">
            <div class="preview-tables">
          <table id="sample-data-table" class="table">
              <thead>
                  <tr>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Nom</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Email</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Téléphone</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Adresse</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Ville</span>
                        </div>
                    </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Envoyer </span>
                          </div>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let donnateur of listDonnateur">
                      <td>
                        <span *ngIf="donnateur.prenom">{{donnateur.nom}}&nbsp;{{donnateur.prenom}}</span>
                        <span *ngIf="donnateur.nom_moral">{{donnateur.nom_moral}}</span>
                      </td>
                      <td>{{donnateur.email}}</td>
                      <td>{{donnateur.telephone}}</td>
                      <td>{{donnateur.adresse}}</td>
                      <td>{{donnateur.ville}}</td>
                      <td><a (click)="sendPassword(donnateur)"><span class="icon s-8 icon-send"></span></a></td>

                  </tr>
              </tbody>
              </table>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>


