<div class="content-wrapper">



            <div class="content">
                <div class="doc data-table-doc page-layout simple full-width">

        <!-- HEADER -->
        <div class="page-header bg-secondary text-auto p-6"><h3 class="doc-title" id="content">
          <span class="icon s-8 icon-view-list"></span>
          Liste des adhérents</h3></div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="page-content row p-6 container">

            <div class="col-12">

                <div class="example">
                    <div class="description">
                        <div class="description-text">
                            <h3>Liste des adhérents</h3>
                        </div>
                    </div>
                    <div class="source-preview-wrapper"><div class="preview">
                      <div class="preview-elements"><div class="preview-tables">
                    <table id="sample-data-table" class="table">
                        <thead>
                            <tr>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Nom complet</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Email</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Téléphone</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">CIN</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Date d'adhésion</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Numéro de vote</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Opération</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let adherent of adherentList">
                                <td>{{adherent.nom_adherent}} &nbsp; {{adherent.prenom_adherent}}</td>
                                <td>{{adherent.email}}</td>
                                <td>{{adherent.telephone}}</td>
                                <td>{{adherent.cin}}</td>
                                <td>{{adherent.dateAdhesion}}</td>
                                <td>{{adherent.numeroVote}}</td>
                                <td><button data-toggle="modal" data-target="#modalModifier" data-keyboard="true" (click)="updateA(adherent)"><span class="icon icon-update"></span></button>&nbsp;&nbsp;
                                    <a (click)="detailsAdherent(adherent)"> <span class="icon icon-account-card-details"></span></a>&nbsp;&nbsp;
                                    <button data-toggle="modal" data-target="#modalId" data-keyboard="true" (click)="sendAdherent(adherent)"><span class="icon icon-delete"></span></button>
                                  </td>
                            </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="modal fade" id="modalId" >
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">Suppression d'un adhérent</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <p>voulez-vous vraiment supprimer l'adhérent ?.</p>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Fermer</button>
                                      <button type="button" class="btn btn-primary" (click)="deleteAdherent()">Confirmer</button>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="modal fade" id="modalModifier">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" >Modification d'un adhérent</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="text" class="form-control" id="inputNom" name="nom_adherent"  placeholder="Nom" [(ngModel)]="adherent.nom_adherent" formControlName="nom_adherent" >
                                                <label for="inputNom" class="col-form-label">Nom</label>
                                                <div class="alert alert-danger" *ngIf="nom.invalid && (nom.dirty || nom.touched )">
                                                    <div *ngIf="nom.hasError('required')">le nom de l'adhérent est obligatoire</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="text" class="form-control" id="inputPrenom" name="prenom_adherent" [(ngModel)]="adherent.prenom_adherent" placeholder="prénom" formControlName="prenom_adherent">
                                                <label for="inputPrenom" class="col-form-label">Prénom</label>
                                                <div class="alert alert-danger" *ngIf="prenom.invalid && (prenom.dirty || prenom.touched )">
                                                    <div *ngIf="prenom.hasError('required')">le nom de l'adhérent est obligatoire</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="email" class="form-control" id="inputEmail4" name="email" [(ngModel)]="adherent.email"  placeholder="Email" formControlName="email">
                                                <label for="inputEmail" class="col-form-label">Email</label>
                                                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched )">
                                                    <div *ngIf="email.hasError('required')">l'email de l'adhérent est obligatoire</div>
                                                    <div *ngIf="email.hasError('pattern')">le format de l'email est invalid</div>
                                                </div>

                                            </div>
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="password" class="form-control" id="inputPassword4" name="motPass" [(ngModel)]="adherent.motPasse" placeholder="mot de pass" formControlName="motPasse">
                                                <label for="inputPassword" class="col-form-label">Mot de passe</label>
                                                <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty ||password.touched )">
                                                    <div *ngIf="password.hasError('required')">le mot de passe de l'adhérent est obligatoire</div>
                                                    <div *ngIf="password.hasError('minlength')">la longueur de mot de passe doit dépasser 6 caractéres</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="text" class="form-control" id="inputCIN"  name="cin" [(ngModel)]="adherent.cin" placeholder="CIN" formControlName="cin">
                                                <label for="inputCIN" class="col-form-label">CIN</label>
                                                <div class="alert alert-danger" *ngIf="cin.invalid && (cin.dirty ||cin.touched )">
                                                    <div *ngIf="cin.hasError('required')">le cin de l'adhérent est obligatoire</div>
                                                    </div>
                                            </div>
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="text" class="form-control" id="inputLieuNaissance" name="lieuDeNaissance" [(ngModel)]="adherent.lieuDeNaissance" placeholder="Lieu de naissance" formControlName="lieuDeNaissance">
                                                <label for="inputLieuNaissance" class="col-form-label">Lieu de naissance</label>
                                                <div class="alert alert-danger" *ngIf="lieuNaissance.invalid && (lieuNaissance.dirty ||lieuNaissance.touched )">
                                                    <div *ngIf="lieuNaissance.hasError('required')">ce champ est obligatoire</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="text" class="form-control" id="inputPhone" name="telephone" [(ngModel)]="adherent.telephone" placeholder="Numéro de télephone" formControlName="telephone">
                                                <label for="inputPhone" class="col-form-label">Numéro de téléphone</label>
                                                <div class="alert alert-danger" *ngIf="phone.invalid && (phone.dirty ||phone.touched )">
                                                    <div *ngIf="phone.hasError('required')">le télephone de l'adhérent est obligatoire</div>
                                                    <div *ngIf="phone.hasError('pattern')">le numéro de télephone est invalide</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6" [formGroup]="adherentForm">
                                                <input type="date" class="form-control" id="inputDateNaissance" name="dateDeNaissance" [(ngModel)]="adherent.dateDeNaissance" placeholder="Date de naissance" formControlName="dateDeNaissance">
                                                <label for="inputDateNaissance" class="col-form-label text-center"> Date de naissance</label>
                                                <div class="alert alert-danger" *ngIf="birthday.invalid && (birthday.dirty ||birthday.touched )">
                                                    <div *ngIf="birthday.hasError('required')">la date de naissance l'adhérent est obligatoire</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label class="custom-file col-md-8">
                                                <input type="file" id="file2" name="photo" [(ngModel)]="adherent.photo" class="custom-file-input" formControlName="photo" (change)="onFileSelected($event)">
                                                <span class="custom-file-control"></span>
                                                <div class="alert alert-danger" *ngIf="picture.invalid && (picture.dirty ||picture.touched )">
                                                  <div *ngIf="picture.hasError('required')">la photo de l'adhérent est obligatoire</div>
                                              </div>
                                            </label>
                                          <div class="form-group col-md-4" [formGroup]="adherentForm">
                                              <input type="text" class="form-control" id="inputNumeroVote" name="numeroVote" [(ngModel)]="adherent.numeroVote" placeholder="Numéro de vote" formControlName="numeroVote">
                                              <label for="inputNumeroVote" class="col-form-label">&nbsp;Numéro de vote</label>
                                              <div class="alert alert-danger" *ngIf="voteNumber.invalid && (voteNumber.dirty ||voteNumber.touched )">
                                                  <div *ngIf="voteNumber.hasError('required')">le numéro de bureau de vote est obligatoire</div>
                                              </div>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputbrVote" class="col-form-label">Bureau de vote</label>
                                            <select id="inputbrVote" class="form-control" name="bureauVote_id" [(ngModel)]="bureauVote_id">
                                                <option *ngFor="let bv of listBv"
                                                [value]="bv.bureauVote_id"
                                                >{{bv.nom_bureauVote}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="inputService" class="col-form-label">Service</label>
                                          <select id="inputServie" class="form-control" name="service_id" [(ngModel)]="service_id">
                                            <option *ngFor="let serv of _listServices"
                                            [value]="serv.id_service"
                                            >{{serv.nom}}</option>
                                          </select>
                                        </div>
                                        <div class="form-row">
                                          <div class="form-group col-md-6">
                                            <label for="inputProfession" class="col-form-label">Profession</label>
                                            <select id="inputProfession" class="form-control" name="profession_id" [(ngModel)]="profession_id">
                                              <option *ngFor="let profession of listProfession"
                                              [value]="profession.profession_id"
                                              >{{profession.prefession_nom}}</option>
                                            </select>
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="inputCommunaute" class="col-form-label">Communauté</label>
                                            <select id="inputCommunaute" class="form-control" name="communaute_id" [(ngModel)]="communaute_id">
                                              <option *ngFor="let communaute of listCommunaute"
                                              [value]="communaute.communaute_id"
                                              >{{communaute.nom_communaute}}</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label class="col-form-label">Sexe</label>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio"  name="inlineRadioOptions" id="inlineRadio1"
                                                       [(ngModel)]="adherent.sexe" value="homme"/>
                                                <span class="radio-icon"></span>
                                                <span class="form-check-description">Homme</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                                       [(ngModel)]="adherent.sexe"  value="femme"/>
                                                <span class="radio-icon"></span>
                                                <span class="form-check-description">Femme</span>
                                            </label>
                                        </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModalModif>Fermer</button>
                                    <button type="button" class="btn btn-primary" (click)="updateAdherent()">Modifier</button>
                                </div>
                            </div>
                        </div>
                      </div>

